@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&family=Montserrat:wght@700&display=swap');

:root{
  --nav-fonts: 'Josefin Sans', sans-serif;
  --banner-fonts: 'Montserrat', sans-serif;
  --banner-fonts-color: #545454;
  --color-1: #000000;
  --color-2: #fff;
  --nav-animation: all 0.5s ease;
  --banner-background: #EAF1FF;
  --body-background: rgba(237, 245, 254, 0.42);
  --box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}